#canvas {
	height: 700px;
	margin-left: 320px;
	margin-top: 50px;
	border-radius: 10px;
}

body {
	display: flex;
	background-size: cover;
	background-image: url("./images/paris.jpeg");
	margin: 20px 20px 20px 300px;
}

#button {
	width: 150px;
	height: 75px;
	font-size: 20px;
	border-radius: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(13, 59, 89);
	background-color: rgba(240, 49, 49, 0.76);
	border: 2px solid whitesmoke;
}

.info {
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 20px;
	text-align: center;
}

#score,
#balls {
	font-size: 40px;
	margin-top: 35px;
	margin-bottom: 25px;
	color: rgb(231, 247, 244);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.instrucciones {
	color: rgb(231, 247, 244);
	margin-top: 45px;
	font-size: 15px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 400px;
	text-align: left;
}

#messi {
	border-radius: 50%;
}

#flechas {
	margin-top: 20px;
	width: 115px;
	height: 70px;
}
